.jokeCol {
  margin-bottom: 150px;
}

.jokeCol:nth-child(odd)>div>.jokeTitle {
  transform: rotate(-2deg);
}

.jokeCol:nth-child(even)>div>.jokeTitle {
  transform: rotate(2deg);
}

.jokeDisplay {
}

.jokeTitle {
  width:95%;
  padding: 8px;
  color: white;
  background-color: #26547C;
  font-size: 1.3em;
  position: relative;
  top: 8px;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.6);
}

.jokeBody {
  width: 100%;
  font-size: 1.2em;
  background-color: #DF9A57;
  padding: 30px;
  margin-bottom:10px;
  border-radius: 17px;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.6);
  transition: all 2s ease;
}

.voteButton {
  font-size: 2em;
  font-weight: bold;
  min-width: 276px;
  padding: 15px;
  border: none;
  border-radius: 14px;
  position: absolute;
  bottom: -80px;
  left: 50%;
  background-color: #00EA94;
  transform: translateX(-50%);
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.6);
}

.flagButton {
  font-size: 1.2em;
  position: absolute;
  background-color: #EF0037;
  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width : 992) {
  .jokeCol {
    width:50%;
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

@media only screen and (max-width : 992) {
  .jokeBody {
    min-width: 200vw;
  }
}

