body {
  animation: bg-slide 99999s linear infinite;
  background-image: url("../images/polkadots.jpg");
  background-size: 200px 200px;
}

.jokeRow {
  padding-left: 20px;
  padding-right: 20px;
  animation: slide 1s linear;
}

@keyframes bg-slide {
  from {
    background-position: 0;
  }
  to {
    background-position: -5999999px -5999999px;
  }
}
