html {
  height: 100vh;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.titleContainer {
  width: 100vw;
  text-align: center;
}

.titleText {
  display: inline-block;
  width: 60%;
  height: 35vw;
  /* height: 60vh; */
  background-image: url("../images/ha2ha.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.explanation {
  padding: 10px;
  display: inline-block;
  font-size: 1.5em;
  width: 90vw;
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.6);
}

